@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --primary-color: blue;
    --border-radius: 5px;
}

html {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: "JetBrains Mono", monospace;
}

